[submodule "libs/math-lib-project"]
	path = libs/math-lib-project
	url = https://github.com/Pooja-S-2006/math-lib-project.git
[submodule "code-engine"]
	path = code-engine
	url = https://github.com/Pooja-S-2006/code-engine.git
[submodule "problem-module"]
	path = problem-module
	url = https://github.com/Pooja-S-2006/problem-module.git
[submodule "auth-module"]
	path = auth-module
	url = https://github.com/Pooja-S-2006/auth-module.git
[submodule "leaderboard-module"]
	path = leaderboard-module
	url = https://github.com/Pooja-S-2006/leaderboard-module.git
